In [1]:
import pandas as pd

In [2]:
# File to Load
vine_review_analysis = "vine_table.csv"

# Read the Vine_Review_Analysis Data
vine_review_analysis_df = pd.read_csv(vine_review_analysis)
vine_review_analysis_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
# Filter the data and create a new DataFrame to retrieve rows where the total_votes count is equal to or greater than 20
filtered_votes_df = vine_review_analysis_df[vine_review_analysis_df["total_votes"]>=20]
filtered_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [4]:
useful_votes = filtered_votes_df["helpful_votes"]/filtered_votes_df["total_votes"]

In [5]:
filtered_votes_df.insert(loc=6,column='useful_votes',value=useful_votes)

In [6]:
filtered_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful_votes
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
289,R3EZ0EPYLDA34S,1,14,31,N,Y,0.451613
483,R2FJ94555FZH32,2,55,60,N,N,0.916667

In [7]:
# Retrieve rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
helpful_votes_df = filtered_votes_df[filtered_votes_df["helpful_votes"]/filtered_votes_df["total_votes"] >=0.5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful_votes
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615

In [8]:
# Retrieve rows where a review was written as part of the Vine program (paid), vine == 'Y'
paid_vine_df = helpful_votes_df[helpful_votes_df["vine"]=='Y']
paid_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful_votes
50313,R1OWK33OPI45KT,5,55,58,Y,N,0.948276
53236,R2UP7VTED8O425,5,35,41,Y,N,0.853659
62996,R3KKUSGFZWSUIY,5,56,63,Y,N,0.888889
63633,R10FO5UKKVZBK2,3,23,23,Y,N,1.000000
99948,R3N4QAXTQCA1ED,5,18,20,Y,N,0.900000

In [9]:
# Retrieve rows where a review was not written as part of the Vine program (unpaid), vine == 'N'
unpaid_vine_df = helpful_votes_df[helpful_votes_df["vine"]=='N']
unpaid_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,useful_votes
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615

In [10]:
non_vine_reviews_count = len(helpful_votes_df[helpful_votes_df["vine"]=='N'].index)
non_vine_reviews_count

40471

In [11]:
vine_reviews_count = len(helpful_votes_df[helpful_votes_df["vine"]=='Y'].index)
vine_reviews_count

94

In [12]:
# Count total reviews in the filtered dataframe
filtered_reviews_count = helpful_votes_df["review_id"].count()
filtered_reviews_count

40565

In [13]:
# count 5-star reviews from the filtered dataframe
five_star_count = len(helpful_votes_df[helpful_votes_df["star_rating"] == 5])
five_star_count

15711

In [14]:
# Count unpaid 5-star reviews in the filtered dataframe
unpaid_reiews_count = len(helpful_votes_df[(helpful_votes_df["star_rating"]==5) & \
                                            (helpful_votes_df["vine"]=='N')])
unpaid_reiews_count

15663

In [15]:
# Count paid 5-star reviews in the filtered dataframe
paid_reiews_count = len(helpful_votes_df[(helpful_votes_df["star_rating"]==5) & \
                                          (helpful_votes_df["vine"]=='Y')])
paid_reiews_count

48

In [16]:
# Percentage of 5-star reviews that is unpaid
unpaid_review_percentage = round((unpaid_reiews_count/non_vine_reviews_count)*100,2)
unpaid_review_percentage

38.7

In [17]:
# Percentage of 5-star reviews that is paid
paid_review_percentage = round((paid_reiews_count/vine_reviews_count)*100,2)
paid_review_percentage

51.06

In [18]:
# table to hold the review analysis
review_analysis_df = pd.DataFrame(
          [{"Total Reviews": filtered_reviews_count, 
          "Number of 5-star Reviews": five_star_count, 
          "Percentage of Paid 5-star Reviews": paid_review_percentage,
          "Percentage of Unpaid 5-star Reviews": unpaid_review_percentage
          }])

In [19]:
review_analysis_df.style.hide_index()

In [20]:
print(review_analysis_df.to_string(index=False))

 Total Reviews  Number of 5-star Reviews  Percentage of Paid 5-star Reviews  Percentage of Unpaid 5-star Reviews
         40565                     15711                              51.06                                 38.7

In [21]:
from IPython.display import HTML
HTML(review_analysis_df.to_html(index=False))